
/* Custom default button */
.btn-secondary{
margin: auto;
  color: #000;
  background-color: #FAF2F0;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #F8F2F0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}


/*
 * Personal Touch
 */
#title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

#sub-title{
    color: #F6C846;
}

.header{
    width: 100%;
    text-align: center;
}

.login_register{
    border-radius: 10px;
    background-color: #F6C846;
    margin: 50px;
    width: 300px;
    height: 320px;
    float: right;
}

#login{
    display:block; 
    justify-content: center; 
    width: 150px;
    margin-top: 60px;
}

#register{
    display:block; 
    justify-content: center; 
    width: 150px;
    margin-top: 60px;
}

#about{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: block;
    justify-content: center; 
    width: 100%;
    margin-top: 60px;
    text-decoration: none;
    color: #FAF2F0;
    font-size: 20px;
}

.brief-info{
    margin: 90px;
    width: 100%;
}

#info{
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    font-size: 20px;
}

.modal-content{
    background-color: #F8F0F0;
}

.modal-header{
    margin-left: 10px;
}

#login_form{
    text-align:left;
}

#signup_form{
    text-align:left;
}

#forgot{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

#about-us{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 40px;
}

#about-info{
    background-color: #FFFFFF;
    padding: 50px;
}

#text{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    color: black;
}

.user{
    background-image:url(photos/port.png);
    background-repeat:no-repeat;
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

#user-text{
    text-align: right;
}

#backback{
    text-decoration: none;
    color: #000;
}

#back{
    margin: 10px;
    text-align: center;
    float: right;
    background-color: #F6C846;
    width: 90px;
}

.navbar{
    text-align: right;
    display: block;
    width: 100%;
}

#icons{
    margin: 15px;
    height: 30px;
    width: 30px;
}

#profile_upper{
    margin: 1px;
    padding: 1px;
}

#profil_pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 auto;
}

#user_infomation{
    border: 1px solid #FBF7F6;
    background-color: #FCFBFA;
    text-align: center;
}

#points{
    color: red;
}

#post{
    border: 1px solid #FBF7F6;
    background-color: #FCFBFA;
    text-align: center;
    margin: 0 auto;
}

#postIcon{
    height: 50px;
    width: 50px;
    margin-top: 10%;
}

#postButton{
    margin-top: 10%;
}

#profile_lower{
    margin: 1px;
    height: 100%;
    padding: 1px;
}

#user_navigator{
    border: 1px solid #FBF7F6;
    background-color: #E6E4E4;
}

#user_panel{
    border: 1px solid #FBF7F6;
    height: 150%;
    padding: 10px;
}

#nav{
    text-decoration: none;    
}

#navList{
    text-align: center;
    margin: 20px;
    color: black;
}

#indicator{
    text-align: center;
    border: 2px solid black;
    width: 150px;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 5%;
    background-color: #F6C846;
}

#usersFeed{
    border-bottom: 2px solid black;
    height: 100px;
    margin-top: 5px; 
}

#profilePicture{
    height: 75px;
    width: 75px;
    border: 1px solid black;
    border-radius: 40%;
    margin: 10px;
}

#profilText{
    margin: 0 auto;
    text-align: center;
}

#posting{
    width: 10px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: #FAEDEE;
    text-align: center;
    margin: 10px;
}

#goal_form{
    text-align: left;
}
