
/* Custom default button */
.btn-secondary{
margin: auto;
  color: #000;
  background-color: #FAF2F0;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #F8F2F0;
}
body {
  color: #000;
  text-align: right;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}


/*
 * Personal Touch
 */
#title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

#sub-title{
    color: #F6C846;
}

.header{
    width: 100%;
    text-align: center;
}

.login_register{
    border-radius: 10px;
    background-color: #F6C846;
    margin: 50px;
    width: 300px;
    height: 320px;
    float: right;
}

#login{
    display:block; 
    justify-content: center; 
    width: 150px;
    margin-top: 60px;
}

#register{
    display:block; 
    justify-content: center; 
    width: 150px;
    margin-top: 60px;
}

#about{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: block;
    justify-content: center; 
    width: 100%;
    margin-top: 60px;
    text-decoration: none;
    color: #FAF2F0;
    font-size: 20px;
}

.brief-info{
    margin: 90px;
    width: 100%;
}

#info{
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    font-size: 20px;
}

.modal-content{
    background-color: #F8F0F0;
}

.modal-header{
    margin-left: 10px;
}

#login_form{
    text-align:left;
}

#signup_form{
    text-align:left;
}

#forgot{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

#about-us{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 40px;
}

#about-info{
    background-color: #FFFFFF;
    padding: 50px;
}

#text{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    color: black;
}

.user{
    background-image:url(/port.png);
    background-repeat:no-repeat;
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

#user-text{
    text-align: right;
}

#backback{
    text-decoration: none;
    color: #000;
}

#back{
    margin: 10px;
    text-align: center;
    float: right;
    background-color: #F6C846;
    width: 90px;
}